// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #404040;
  color: #b3b3b3;
  text-align: center;
}

#footer p {
  margin-bottom: 0;
  line-height: 60px;
}

.search-area {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.search-area h2 {
  font-weight: normal;
  display:inline-block;
  margin-top: 8px;
}

.btn-white, .btn-white:hover, .btn-white:focus {
   color: #e3553c;
}

.btn-white {
  background-color: #fff;
}

.form-group, .form-inline .search-box, .search-btn {
  width: 100%;
} 

.floating {
  background-color: #e3553c;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.outline {
  text-align: center;
  border: 2px solid #e3553c;
  border-radius: 10px;
  padding-bottom: 20px;
}

.number {
    padding: 8px;
    padding-top: 20px;
    color: #e3553c;
    font-size: 26px;
}

.outline hr {
  border-color: #e3553c;
  margin-left: 15px;
  margin-right: 15px;
}

.outline p {
  font-size: 16px;
  line-height: 25px;
  width: 70%;
  margin:0 auto;
}

.step {
  font-size: 45px;
  margin-top: 20px;
  color: #e3553c;
}

.disclaimer {
  margin-top: 50px;
  color: #e3553c;
}

.modal-content {
  background-color: #f7f7f7;
  border: none;
  color: #e3553c;
}

.modal-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}

.modal-body {
  padding: 20px 50px;
  line-height: 20px;
  text-align: center;
}

.restaurant-detail a {
  color: #e3353c;
}
.restaurant-detail a:hover {
  color: rgba(227, 85, 60, 0.75);
  background-color: #fff;
  text-decoration: none;
}

.modal a {
  color: rgba(227, 85, 60, 0.75);
}

.modal a:hover {
  text-decoration: none;
  background-color: #f7f7f7;
  color: rgba(227, 85, 60, 0.5);
}

.restaurant-detail {
  border: 1px solid #e3553c;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  min-height: 200px;
}

.restaurant-detail hr {
  margin-top: 0;
}

.restaurant-detail table tr td {
  font-size: 14px;
}

.table th, .table td { 
  border-top: none !important; 
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 18px;
  color: #7f7f7f;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #e3553c;
   font-size: 18px;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar {
  min-height: 80px;
}
.navbar-brand {
  height:80px;
}
.navbar-brand img {
  height:100%;
  margin: 0;
}
.navbar-nav > li > a {
  line-height: 45px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-transform:uppercase;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 50px;
  width: 100%;
  margin-top: 75px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

// Extended
.navbar-inverse {
  background-color: #e3553c;
  border: none;
}
